<div class="row text-center justify-content-md-center mt-5">
  <div class="col-sm-12">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> <%= @restaurant.name %> </h5>
        <h5 class="card-subtitle mb-2 text-muted"> <%= @restaurant.category %></h5>
        <p class="card-text"><%= @restaurant.address %></p>
        <p class="card-text text-secondary"><%= @restaurant.phone_number %></p>
        <ul class="list-group">
          <% @restaurant.reviews.each do |review| %>
            <li class="list-group-item">
              <%= review.content %>
              <%= review.rating %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
